<% provide(:title, "登录" )%>

<section class="login panel">
	<h3>登录UCDNews · 分享也是一种进步</h3>

	<%= form_for(:session, url: sessions_path ) do |f| %>
	  <p><%= f.text_field :email, "placeholder" => "Email" %></p>
	  <p><%= f.password_field :password, "placeholder" => "密码" %></p>
	  <p class="submit"><%= f.submit "登  录" %></p>
	<% end %>
</section>
<div style="text-align:center;margin-bottom:40px;font-size:0.9em;">
	<p>
		还没有UCDNews帐号？☞&nbsp;
		<%= link_to "赶紧归队", signup_path %>
	</p>
	<p>
		忘记密码？
		<a href="">点击这里</a>
		&nbsp;&nbsp;找回密码
	</p>
</div>