<ul>
	<% @journal.posts.each_with_index do |post, i| %>	
        <li class="newsitem">
		  	<span class="itemnum"><%= i+1 %></span>
	        <% if !post.category.nil? %>
		        <span class="itemcategory"><%= post.category.content %></span>
		    <% end %>
	        <a href="<%= post.link %>" class="itemtitle" target="_blank"><%= post.title %></a>
	        <% if !post.author.blank? %>
	          <small class="itemauthor">· <%= post.author %></small>
	        <% end %>
	        <% if !post.note.blank? %>
	          <blockquote>
	        	<p><%= post.note %></p>
	          </blockquote>
	        <% end %>
	    </li>
	<% end %>
</ul>

<nav class="pagenavi">
	<% if !@prev.nil? %>
	  <%= link_to "上一期", journal_url(@prev.id) %>
	<% else %>
	  <%= link_to "上一期", "#", class: "disabled" %>
	<% end %>
	<span><%= @journal.journalnum %> / <%= @journaltotal %></span>
	<% if  !@next.nil? %>
	  <%= link_to "下一期", journal_url(@next.id) %>
	<% else %>
	  <%= link_to "下一期", "#", class: "disabled" %>
	<% end %>
</nav>